<div class="b-example-divider border-top my-4">
</div>
<div class="container text-center">
    <div class="row">
        <div class="container col-md-3">
        </div>
        <div class="container col-md-6">
            <a href="https://twitter.com/AscribeWorx" class="anchor" target="_blank"><i
                    class="mx-2 footer-links fab fa-twitter"></i></a>
            <!-- <a href="#" class="anchor" target="_blank"><i class="mx-2 footer-links fab fa-facebook-f"></i></a> -->
            <a href="https://www.linkedin.com/in/ascribe-worx/" class="anchor" target="_blank"><i
                    class="mx-2 footer-links fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/ascribe_worx/" class="anchor" target="_blank"><i
                    class="mx-2 footer-links fab fa-instagram"></i></a>
            <form action="/subscribe" method="POST">
                <h5 class="mt-4">Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new happening in our tech world.</p>
                <div class="d-flex w-100 gap-2 border-top">
                    <label for="newsletter" class="visually-hidden">Email address</label>
                    <input id="newsletter" name="email" type="email" class="form-control" placeholder="Email address"
                        required>
                </div>
                <button class="mt-4 btn btn-primary" type="submit">Subscribe</button>
            </form>

        </div>
        <div class="container col-md-3">
        </div>
    </div>
    <div class="container text-center mt-3">
        <p>&copy; 2024 AScribe Worx | All rights reserved.</p>
    </div>
</div>