<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insights - AScribe Worx</title>
    <link rel="icon" href="/images/logo-zoom.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Nav Bar Starts -->
    <%- include("./partials/navbar.ejs") %>
    <!-- Nav Bar Ends -->




    <!-- Why Choose Us Section Starts -->
    <h2 class="text-center mt-5">Why choose us as your Business Partner?</h2>
    <div id="why-choose-us" class="row">
        <div class="container col-md-3"></div>
        <div class="container col-md-6">
            <p class="p-4"> At AScribe Worx we work on customized
                Search instead for personalization of services for your requirements.</p>
            <div class="row container choose-us">
                <div class="container col-md-6">
                    <ul>
                        <li class="mb-3"> Elevate your business with our tech-savvy and writing experts, always ahead in
                            innovation.
                        </li>
                        <li class="mb-3"> Scale seamlessly as we adapt to evolving demands, ensuring lasting relevance.
                        </li>
                        <li class="mb-3"> See clients as partners; collaborate through the entire project lifecycle.
                        </li>
                        <li> Experience clear communication for constant support throughout our partnership.</li>
                    </ul>
                </div>
                <div class="container col-md-6">
                    <ul>
                        <li class="mb-3">Embrace uniqueness; we customize solutions to fit your distinct business needs.
                        </li>
                        <li class="mb-3">Transparent pricing structures ensure clarity, devoid of hidden costs.</li>
                        <li class="mb-3"> Beyond immediate needs, commit to your long-term success.</li>
                        <li> Trust our history of successful projects across diverse industries.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container col-md-3"></div>
    </div>
    <!-- Why Choose Us Section Ends -->


    <!-- Footer Section Starts -->
    <%- include("./partials/footer.ejs") %>
    <!-- Footer Section Ends -->

    <!-- Script Starts -->
    <%- include("./partials/script.ejs") %>
    <!-- Script Ends -->

</body>

</html>